body, ul, ol, p, h1, h2, h3, h4, h5, dl, dd, form, input, textarea, td, th, button, strong {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

textarea {
    resize: none;
    overflow: auto;
}

img {
    border: none;
    vertical-align: middle;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Jinrong01-Bold;
    src: url('../lib/Jinrong01-Bold.ttf');
}

.viewport {
    max-width: 1080px;
    min-width: 300px;
    margin: 0 auto;
}

.topInfo {
    height: 30rem;
    background: url(../icon/background.png) center center no-repeat;
    background-size: cover;
    overflow:hidden;

}

.headerDiv {
    height: 10rem;
    width: 100%;
    text-align: center;



}
.myAccountNameText{
    font-size:2.5rem;
    text-align: center;
    display:block;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    color: #FFFFFF;


}
.midDiv{
    height: 16rem;
    width: 100%;
}
.myAccountName{
    text-align: center;
    color: #FFFFFF;
    /*height: 10rem;*/
    height: 100%;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left:50%
}
.leftAmount{
    font-family: PingFangSC-Regular;
    font-size: 3.2rem;
    color: #FFFFFF;
    /*letter-spacing: -0.04rem;*/
    line-height: 3.8rem;
    width: 50%;
    float: left;
}
.rightAmount{
    font-family: PingFangSC-Regular;
    font-size: 3.2rem;
    color: #FFFFFF;
    /*letter-spacing: -0.04rem;*/
    float: right;
    line-height: 3.8rem;
    width: 50%;
}
.amountText{
    font-size:2.5rem;
    text-align: center;
    /*display:block;*/
    /*position: relative;*/
    /*top:50%;*/
    /*transform:translateY(-50%);*/
    color: #FFFFFF;
    width: 100%;
    /*height: 3rem;*/
}
.amountTextName{
    font-size:1rem;
    text-align: center;
    /*display:block;*/
    /*position: relative;*/
    /*top:1%;*/
    /*height: 1rem;*/
    width: 100%;
    height: 2rem;

    /*transform:translateY(-50%);*/
    color: #FFFFFF;
}
.bottomBack{
    height: 40rem;
    background: #FFFFFF;
    border-radius: 3.2rem;
}
.applyList{
    background: #FFFFFF;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.10);
    /*border-radius: 0.5rem;*/
    width: 33.5rem;
    height: 6rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow:hidden;

}
.iconImg{
    margin-top: 1rem;
    /*margin-left: 1rem;*/
    /*padding-top: 1rem;*/
    margin-left: 1rem;
    /*margin-bottom: 1rem;*/
    width: 4rem;
    height: 4rem;
    background: url(../icon/applylistIcon.png) center center no-repeat;
    background-size: cover;
    float: left;
}
.BankiconImg{
    margin-top: 1rem;
    /*margin-left: 1rem;*/
    /*padding-top: 1rem;*/
    margin-left: 1rem;
    /*margin-bottom: 1rem;*/
    width: 4rem;
    height: 4rem;
    background: url(../icon/bankIcon.png) center center no-repeat;
    background-size: cover;
    float: left;

}
.paysetingiconImg{
    margin-top: 1rem;
    /*margin-left: 1rem;*/
    /*padding-top: 1rem;*/
    margin-left: 1rem;
    /*margin-bottom: 1rem;*/
    width: 4rem;
    height: 4rem;
    background: url(../icon/settiongIcon.png) center center no-repeat;
    background-size: cover;
    float: left;
}
.myHeader{
    margin-top: 1rem;
    /*margin-left: 1rem;*/
    /*padding-top: 1rem;*/
    margin-right: 1rem;
    float: right;
    /*margin-bottom: 1rem;*/
    width: 4rem;
    height: 4rem;
    background: url(../icon/header.png) center center no-repeat;
    background-size: cover;
}


.midDivRmb{
    height: 10rem;
    width: 100%;
}
.rmbAccountName{
    text-align: center;
    color: #FFFFFF;
    /*height: 10rem;*/
    height: 100%;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left:50%
}
.rmbAmount{
    font-family: PingFangSC-Regular;
    font-size: 3.2rem;
    color: #FFFFFF;
    /*letter-spacing: -0.04rem;*/
    line-height: 3.8rem;
    width: 100%;
    text-align: center;
}
.rightAmount{
    font-family: PingFangSC-Regular;
    font-size: 3.2rem;
    color: #FFFFFF;
    /*letter-spacing: -0.04rem;*/
    float: right;
    line-height: 3.8rem;
    width: 50%;
}
.amountText{
    font-size:2.5rem;
    text-align: center;
    /*display:block;*/
    /*position: relative;*/
    /*top:50%;*/
    /*transform:translateY(-50%);*/
    color: #FFFFFF;
    width: 100%;
    /*height: 3rem;*/
}
.amountTextName{
    font-size:1rem;
    text-align: center;
    /*display:block;*/
    /*position: relative;*/
    /*top:1%;*/
    /*height: 1rem;*/
    width: 100%;
    height: 2rem;

    /*transform:translateY(-50%);*/
    color: #FFFFFF;
}
.rmbheaderDiv {
    height: 8rem;
    width: 100%;
    margin-top: 6rem;
    text-align: center;



}
.infoSetting{
    ont-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #171F24;
    /*letter-spacing: 0;*/
    line-height: 6rem;
    text-align: center;
    width: 20rem;
    float: left;
    height: 6rem;
    /*vertical-align: middle;*/
}
.chongzhi{
    height: 6rem;
    width: 50%;
    float: left;

}
.chongzhiIcon{
    background: url(../icon/applyicon.png) center center no-repeat;
    background-size: cover;
    height: 1.8rem;
    width: 2.3rem;
    float: left;
    margin-left: 3rem;


}
.chongzhiText{
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    float: left;

}



.tixian{
    height: 6rem;
    width: 50%;
    float: right;

}
.tixianIcon{
    background: url(../icon/payouticon.png) center center no-repeat;
    background-size: cover;
    height: 1.8rem;
    width: 2.3rem;
    float: right;



}
.tixianText{
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    float: right;
    margin-right: 3rem;

}




.zhuanzhang{
    height: 6rem;
    width: 50%;
    float: left;

}
.zhuanzhangIcon{
    background: url(../icon/applyicon.png) center center no-repeat;
    background-size: cover;
    height: 1.8rem;
    width: 2.3rem;
    float: left;
    margin-left: 3rem;


}
.zhuanzhangText{
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    float: left;

}



.duixian{
    height: 6rem;
    width: 50%;
    float: right;

}
.duixianIcon{
    background: url(../icon/payouticon.png) center center no-repeat;
    background-size: cover;
    height: 1.8rem;
    width: 2.3rem;
    float: right;



}
.duixianText {
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    float: right;
    margin-right: 3rem;
}

.transferTop{
    font-family: PingFangSC-Regular;
    height: 8rem;
    text-align: center;
    width: 100%;
    background: #3B37DE;
    border-radius: 30px;
}

