body, ul, ol, p, h1, h2, h3, h4, h5, dl, dd, form, input, textarea, td, th, button, strong {
    margin: 0;
    padding: 0;
    /*-webkit-text-size-adjust: none;*/
}

li {
    list-style: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

textarea {
    resize: none;
    overflow: auto;
}

img {
    border: none;
    vertical-align: middle;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
}

/*html {*/
/*-webkit-text-size-adjust: none;*/
/*}*/

.viewport {
    max-width: 1080px;
    min-width: 300px;
    margin: 0 auto;
    /*width:67.5rem;*/
    /*width: 105rem;*/
    /*height: 2943px;*/
    /*min-width: 300px;*/
    /*margin: 0 auto;*/
}
.updateIcon{
    margin-top: 3.98rem;
    margin-left: 4.07rem;
    width: 3rem;
    height: 3rem;
}
.updateNotice{
    font-family: MI-LANTING_GB-OUTSIDE-YS;
    text-align: center;
    margin-top: 0.74rem ;
    font-size: 0.42rem;
    color: #4A4A4A;
    line-height: 0.42rem;
}