<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>我的账户</title>
    <base th:href="@{/}">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css?v=7">
    <link rel="stylesheet" type="text/css" href="css/Modal-dialog.css?v=2">
    <!--<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/style.css?v=7">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/Modal-dialog.css?v=2">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/style.css?v=7">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/Modal-dialog.css?v=2">-->
</head>
<body>
<div class="viewport ">


    <div class="topInfo">
        <div class="myHeader">

        </div>

        <div class="rmbheaderDiv">
            <!--<div class="myAccountName">-->
                <!--规则-->
                <span  class="myAccountNameText">cnyk账号</span>
            <!--</div>-->

        </div>
        <div class="midDivRmb">
            <div class="rmbAmount">
                <!--规则-->
                <div  class="amountText">8888</div>
                <div  class="amountTextName">cnyk总额</div>
            </div>

        </div>
        <div class="zhuanzhang">
            <div class="zhuanzhangIcon">

            </div>
            <div class="zhuanzhangText">转账</div>



        </div>

        <div class="duixian">
            <div class="duixianText">兑现</div>
            <div class="duixianIcon">

            </div>




        </div>

    </div>
    <div class="bottomBack">
        <div class="applyList">
            <div class="iconImg">

            </div>
            <div class="infoSetting">
                账单明细
            </div>



        </div>
        <div class="applyList">
            <div class="BankiconImg">

            </div>
            <div class="infoSetting">
                银行卡设置
            </div>

        </div>

        <div class="applyList">
            <div class="paysetingiconImg">

            </div>
            <div class="infoSetting">
                支付设置
            </div>
        </div>



    </div>

</div>
<div class="overlay"></div>
<footer id="footer"></footer>

</div>


<script type="text/javascript" src='js/jquery-3.3.1.min.js'></script>
<script type="text/javascript" src='js/circle-progress.min.js'></script>
<script type="text/javascript" src='js/cookie.js'></script>
<script type="text/javascript" src='js/init.js'></script>
<script type="text/javascript" src='js/query.js?v=7'></script>
<script type="text/javascript" src='js/yesterdayInfo.js?v=2'></script>
<script type="text/javascript" src='js/countdown.js'></script>
<script type="text/javascript" src='js/challegeButton.js?v=5'></script>
<script type="text/javascript" src="js/modal.js"></script>
<script type="text/javascript" src='js/paySuccess.js?v=4'></script>
<script type="text/javascript" src='js/agreeRule.js?v=3'></script>
<script type="text/javascript" src='js/queryUserInfo.js?v=7'></script>
</body>
</html>