<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>每天8000步赢奖金</title>
    <base th:href="@{/}">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css?v=7">
    <link rel="stylesheet" type="text/css" href="css/Modal-dialog.css?v=2">
    <!--<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/style.css?v=7">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/Modal-dialog.css?v=2">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/style.css?v=7">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/Modal-dialog.css?v=2">-->
</head>
<body>
<div class="viewport ">


    <div class="topInfo">
        <div class="headerDiv">
            <div class="rule">
                <!--规则-->
                <span class="challenge_rules" href="" id="challenge_rules">规则</span>
            </div>

        </div>

        <div class="moneyPool">
            <div class="pool">
                <img class="moneyIcon" src="images/monryIcon.png"/>
                <a class="poolInfo" id="poolInfo">8000步达标金额奖池（元）</a>
            </div>
            <div class="money">
                <a class="poolValue" id="poolValue"></a>
            </div>
            <div class="participate">
                <a class="participateValue" id="participateValue"></a> <a class="participateInfo">人已报名</a>
            </div>
        </div>
        <div class="end" id="end">
            <li>
                <a class="endTips">距活动结束还有</a>
                <a id="h" class="endtime"></a>
                <a class="timeinfo">:</a>
                <a id="i" class="endtime"></a>
                <a class="timeinfo">:</a>
                <a id="s" class="endtime"></a>
            </li>

        </div>

        <div class="challege-trigger" id="challege-trigger">
            <a class="challegeInfo" id="challegeInfo">支付1元参与挑战</a>
        </div>


    </div>
    <div class="modal fade" id="paySuccessModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <div style="width:100%;height: 1rem;">
                        <button type="button" id="paySuccess_close" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.8rem;">
                        <img class="paySuccessImages" src="images/paySuccess.png"/>
                    </div>

                    <div class="paySuccessTag">
                        <a class="paySuccessTag">支付成功</a>
                    </div>

                    <div class="paySuccessTagMid">
                        <a class="paySuccessTagMid">目标8000步开始运动起来吧</a>
                    </div>

                    <div class="paySuccessTagBottom">
                        <a class="paySuccessTagBottom">明天0点～4点开奖，请在我的战绩中查看</a>
                    </div>

                    <div class="paySuccessKnowDiv" data-dismiss="modal">
                        <a class="paySuccessKnow" data-dismiss="modal">好的，我知道了</a>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" id="payFailedModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <div style="width:100%;height:1rem;">
                        <button type="button" id="payFailed_close" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.8rem;">
                        <img class="payFailedImages" src="images/payFailed.png"/>
                    </div>

                    <div class="payFailedTag">
                        <a class="payFailedTag">支付失败</a>
                    </div>

                    <div class="payFailedTagMid">
                        <a class="payFailedTagMid">目标8000步开始运动起来吧</a>
                    </div>

                    <div class="rePay" data-dismiss="modal">
                        <a class="rePay_a" data-dismiss="modal">重新支付</a>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <div class="modal fade" id="singupFailedModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <div style="width:100%;height:1rem;">
                        <button type="button" id="singupFailed_close" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.6rem;">
                        <img class="singupFailedImages" src="images/payFailed.png"/>
                    </div>

                    <div class="singupFailedTag">
                        <a class="singupFailedTag">报名失败</a>
                    </div>

                    <div class="singupFailedTagMid">
                        <a id="singupFailedTagMid"> </a>
                    </div>

                    <div class="rePayTomorrow" data-dismiss="modal">
                        <a class="rePayTomorrow_a" data-dismiss="modal">好的，我知道了</a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="singupFailedModal2" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <div style="width:100%;height:1rem;">
                        <button type="button" id="singupFailed_close2" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.8rem;">
                        <img class="singupFailedImages" src="images/payFailed.png"/>
                    </div>

                    <div class="singupFailedTag">
                        <a class="singupFailedTag">报名失败</a>
                    </div>

                    <div class="singupFailedTagMid">
                        <a id="singupFailedTagMid2"></a>
                    </div>


                    <div class="rePayTomorrow2" data-dismiss="modal">
                        <a class="rePayTomorrow2_a" data-dismiss="modal">获取步数</a>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="challegeSuccessModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="success-body-head">
                        <button type="button" id="challegeSuccess_close" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDownWhite.png"/>
                        </button>
                    </div>
                    <p class="challegeSuccessTag">挑战达标</p>
                    <p class="challegeSuccessInfo">成功瓜分（元）</p>
                    <p class="successMoney" id="successMoney"></p>
                    <div class="successNotice"><a style="color: #9B9B9B;">瓜分奖金结果0:00~4:00公布并发放到您的钱包余额</a></div>

                    <div class="rePayTomorrowChallegeSuccess" data-dismiss="modal">
                        <a class="rePayTomorrowChallegeSuccess_a" data-dismiss="modal">好的，我知道了</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="challegeFailedModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="failed-body-head">
                        <button type="button" id="challegeFailed_close" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="static/images/shutDownWhite.png"/>
                        </button>
                    </div>

                    <p class="challegeFailedTag">挑战失败</p>
                    <p class="challegeFailedInfo"><a id="FailedNum" style="color: #9B9B9B;"></a>人随机瓜分（元）</p>
                    <p class="FailedMoney" id="FailedMoney"></p>
                    <div class="FailedNotice"><a>昨日挑战有效步数<a class="FailedStep" id="FailedStep"
                                                            style="color: #9B9B9B;"></a>,挑战失败。今日再战～</a></div>
                    <div class="rePayTomorrowChallegeFailed" data-dismiss="modal">
                        <a class="rePayTomorrowChallegeFailed_a" data-dismiss="modal">好的，我知道了</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="modal fade" id="challegeBackgroundModal" style="display:none; " data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="rule1">
                        <div class="circlePoint">
                            <div class="point"></div>
                        </div>
                        <div class="ruleOne">
                            <div class="ruleInfo">
                                <a>全天可报名当日挑战 </a>
                            </div>

                        </div>
                    </div>
                    <div class="rule2">
                        <div class="circlePoint">
                            <div class="point"></div>
                        </div>
                        <div class="ruleTwo">
                            <div class="ruleInfo">
                                <a>步数≥8000步即成功，以当天最后一次手动更新显示的步数为准;</a>
                            </div>
                        </div>
                    </div>
                    <div class="rule3">
                        <div class="circlePoint">
                            <div class="point"></div>
                        </div>
                        <div class="ruleThree">
                            <div class="ruleInfo">
                                <a>挑战成功参与随机瓜分奖金，次日6点前公布结果</a>
                            </div>
                        </div>
                    </div>

                    <div class="agreeRule" data-dismiss="modal">
                        <a data-dismiss="modal">进入挑战</a>
                    </div>

                    <!--<div class="agreeChallege" data-dismiss="modal">-->
                    <!--<a class="agreeChallegeTag" data-dismiss="modal">进入挑战</a>-->
                    <!--</div>-->
                    <div class="agreeNoticeTag">
                        <a>您同意参加挑战，即表示您允许此活动同步并展示您的步数数据，数据仅用于此次挑战活动。</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="synchronizingStepFailedModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">


                <div class="modal-body">
                    <div style="width:100%;height:1rem;">
                        <button type="button" id="synchronizingStepFailed" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.6rem;">
                        <img class="singupFailedImages" src="images/payFailed.png"/>
                    </div>

                    <div class="singupFailedTag">
                        <a class="singupFailedTag">同步步数失败</a>
                    </div>

                    <div class="singupFailedTagMid">
                        <a>不好意思，同步步数失败 </a>
                    </div>

                    <div class="synchronizingStepFailedKnowDiv" data-dismiss="modal">
                        <a class="synchronizingStepFailedKnow" data-dismiss="modal">好的，我知道了</a>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" id="synchronizingStepSuccessModal" style="display:none; ">

        <div class="modal-dialog modal-sm">
            <div class="modal-content">


                <div class="modal-body">
                    <div style="width:100%;height: 1rem;">
                        <button type="button" id="synchronizingStepSuccess" class="close" data-dismiss="modal">
                            <img class="shutdownIcon" src="images/shutDown.png"/>
                        </button>
                    </div>
                    <div style="width: 100%;margin-top: 1.8rem;">
                        <img class="paySuccessImages" src="static/images/paySuccess.png"/>
                    </div>

                    <div class="paySuccessTag">
                        <a class="paySuccessTag">更新步数成功</a>
                    </div>

                    <div class="singupFailedTagMid">
                        <a>同步步数成功，老铁～ </a>
                    </div>

                    <div class="synchronizingStepSuccessKnowDiv" data-dismiss="modal">
                        <a class="synchronizingStepSuccessKnow" data-dismiss="modal">好的，我知道了</a>
                    </div>


                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" id="ruleModal" style="display:none; ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="width: 100%;height: 1.76rem;">
                        <div class="ruleNotice">
                            <a>活动规则</a>
                            <button type="button" id="rule_close" class="close" data-dismiss="modal">
                                <img class="shutdownIcon" src="static/images/shutDown.png"/>
                            </button>
                        </div>

                    </div>


                </div>
                <div class="modal-body">
                    <div class="ruleTag">
                        <p>挑战规则</p>
                    </div>
                    <div class="ruleValue" style="margin-top: 0.5rem;">
                        <p>
                            1.用户每天0:00至23：59支付1元报名参加挑战。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            2.挑战当日有效步数不少于8000步，视为挑战成功，可瓜分当期挑战资金，获得≥1元的鼓励金。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            3.挑战结果的有效步数数据以当日用户最后一次手动更新的步数为准。
                        </p>
                    </div>

                    <div class="ruleTag">
                        <p>常见问题</p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            Q:如何报名?
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            A:为了激励宝宝们养成天天运动的好习惯，小米钱包的新老用户均可通过银行借记卡、小米钱包余额支付1元，参加挑战。
                        </p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            Q:如何获得鼓励金?
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            A:用户在活动当日健步运动8000步以上，将有资格瓜分当日挑战总资金，获取1元以上鼓励金。
                        </p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            Q:如何将鼓励金提现?
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            A:当日挑战结束后的00:00-04:00公布挑战结果，用户在“我的战绩”中查看步数成绩及鼓励金，鼓励金可提现至银行卡。
                        </p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            Q:如果挑战失败，支付金额退还吗?
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            A:不予退还，作为挑战成功者的鼓励金。
                        </p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            Q:同期挑战，可以多次支付参与吗？
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            A:不可以。同一用户每期（或每次）只能参与一次，同一小米钱包账户、小米账号、手机号、身份证号、银行卡号、终端设备等与用户身份相关的信息，其中任意一项或者多项存在相同、相似或非真实有效等情况的，均可能被认定为同一用户，按照挑战规则中的同一用户处理。
                        </p>
                    </div>

                    <div class="ruleTag">
                        <p>重要说明</p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            一、 参加挑战活动的用户，需使用有计步功能的小米手机
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            计步功能开启路径：【我的小米】APP→【进入小米VIP】按钮→【记录仪】板块→【今日行走】，点击开启。
                        </p>
                    </div>
                    <div class="ruleTitle">
                        <p>
                            二、 其他事项说明
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            1. 本次挑战所提及的时间均以北京时间为准。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            2. 本次挑战不支持中途退出。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            3. 若因非用户原因导致的无法获取有效步数，而无法参加挑战的，用户支付的金额将原路返回小米钱包中，退款将于次日到账。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            4. 挑战结束，若出现单个用户获得的鼓励金超过5000元的，则本期挑战无效，参与当日挑战的用户支付的金额，将在挑战结束后，退回用户小米钱包账户余额中。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            5. 报名成功即视为用户知晓井同意挑战规则且认可平台判定的挑战结果。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            6. 秉持公平挑战的原则，活动期间，如存在作弊等违规行为，小米平台将取消用户的参与资格，并有权撤销相关违规交易，必要时追究法律责任。

                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            7. 小米钱包有权根据实际举办情况，变动或调整活动规则，并及时公布，公布时即时生效。

                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            8. 所有参加挑战用户均视为已了解本次挑战规则，并完全知悉活动过程中可能存在的风险，自愿参加活动并承担相应责任和风险，由此造成的任何伤害与损失与小米平台无关。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            9. 因不可抗力（包括不限于重大自然灾害等）或政策要求（包括不限于政府机关指令需要停止举办）活动取消的，小米平台有权暂停或取消本次挑战，并可依相关法律法规的规定主张免责。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            10. 客服联系方式: 400-100-3399。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            11. 本次挑战最终解释权归小米钱包所有。
                        </p>
                    </div>
                    <div class="ruleValue">
                        <p>
                            12. 您同意参加挑战，即表示您允许此活动同步并展示您的步数统计数据，数据仅用于此次挑战活动，并依据《小米钱包隐私权政策》保护您的个人信息。
                        </p>
                    </div>
                    <div class="ruleValue">

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<div class="picture">
    <div class="pictureLeft"></div>
    <div class="picDiv" id="picDiv">
        <div>
            <img class="myImages" id="myImages" src="static/images/myHead.png"/>


        </div>
        <div class="myName" id="myName">
            <a>我的战绩</a>
        </div>

        <div class="myProcess" id="myProcess">
            <div class="circle_step" id="circle_step">
                <div class="circle_step2" id="circle_step2">
                    <a></a>
                    <p id="stepChallengeInfo"></p>
                    <span></span>

                </div>
                <div class="SuccessStep" id="SuccessStep">
                    已达标
                </div>
            </div>

        </div>
        <div class="encourageInfo">
            <a>以当天最后一次更新步数为结果</a>
            <!--<p style="top: 20px;">目前已有<a id="participateNum">1000</a>人参加</p>-->
        </div>
        <div class="synchronizingStep">
            <a>更新步数</a>

        </div>

    </div>
    <div class="pictureRight"></div>

</div>
<div class="hisroryInfo" id="hisroryInfo">

    <div class="hisroryDiv">
        <div class="historyParticipate">
            <p>昨日战况</p>

        </div>
        <div class="resultInfo">
            <a class="resultNotice">成功</a><a id="successPeople"></a> <a class="resultNotice">人 </a>
            <a class="resultNotice" style="margin-left: 0.8rem;">失败</a><a id="failPeople"></a> <a
                class="resultNotice">人</a>
        </div>
        <div class="historyPeople">
            <div class="historyPeopleLeft">
                <div class="historyImagesDiv">
                    <img class="historyImages" id="maxStepPeopleIcon" src="images/myHead.png"/>
                </div>
                <div class="historyInmgesInfo">

                    <p></p>
                    <p class="historyPeopleName"><a class="historyPeopleName" id="stepNumName"></a></p>
                    <a class="historyPeopleAward" id="historyPeopleAward"></a>
                    <a class="historyPeopleAward" id="maxStepNumber"></a>
                    <a class="historyPeopleAward">元</a>
                </div>
            </div>
            <div class="historyPeopleMid">
                <div class="historyImagesDiv">
                    <img class="historyImages" id="maxAwardPeopleIcon" src="images/myHead.png"/>
                </div>
                <div class="historyInmgesInfo">

                    <p class="historyPeopleName"><a class="historyPeopleName" id="awardPeople"></a></p>
                    <a class="historyPeopleAward" id="historyPeopleAward2"></a>
                    <a class="historyPeopleAward" id="maxAward"></a>
                    <a class="historyPeopleAward">元</a>
                </div>
            </div>
            <div class="historyPeopleRight">
                <div class="historyImagesDiv">
                    <img class="historyImages" id="maxDayPeopleIcon" src="images/myHead.png"/>
                </div>
                <div class="historyInmgesInfo">

                    <p class="historyPeopleName"><a class="historyPeopleName" id="maxDayPeople"></a></p>
                    <a class="historyPeopleAward" id="historyPeopleAward3"></a>
                    <a class="historyPeopleAward" id="maxDay"></a><a class="historyPeopleAward">元</a>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="overlay"></div>
<footer id="footer"></footer>

</div>


<script type="text/javascript" src='js/jquery-3.3.1.min.js'></script>
<script type="text/javascript" src='js/circle-progress.min.js'></script>
<script type="text/javascript" src='js/cookie.js'></script>
<script type="text/javascript" src='js/init.js'></script>
<script type="text/javascript" src='js/query.js?v=7'></script>
<script type="text/javascript" src='js/yesterdayInfo.js?v=2'></script>
<script type="text/javascript" src='js/countdown.js'></script>
<script type="text/javascript" src='js/challegeButton.js?v=5'></script>
<script type="text/javascript" src="js/modal.js"></script>
<script type="text/javascript" src='js/paySuccess.js?v=4'></script>
<script type="text/javascript" src='js/agreeRule.js?v=3'></script>
<script type="text/javascript" src='js/queryUserInfo.js?v=7'></script>
</body>
</html>